/* ############################################## RESET BROWSER STYLES ############################################## */

.rt-tr-striped {
    background: var(--unnamed-color-fff6e8) 0% 0% no-repeat padding-box;
background: #FFF6E8 0% 0% no-repeat padding-box;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-webkit-tap-highlight-color: transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
body {
	font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
    color: #000;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
	font-family: 'Segoe UI', sans-serif;
	font-size: inherit;
	outline: none !important;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
    background: -webkit-gradient(linear, left top, right top, from(#ff8b24), color-stop(35%, #ff8b24), to(#ffab21));
    background: linear-gradient(90deg, #ff8b24 0%, #ff8b24 35%, #ffab21 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99999999;
    overflow-x: hidden;
    padding: 0 10px;
}


.highchart {
        overflow: visible !important;

}

body:before, body:after {
    content: "";
    position: fixed;
    background: -webkit-gradient(linear, left top, right top, from(#ff8b24), color-stop(35%, #ff8b24), to(#ffab21));
    background: linear-gradient(90deg, #ff8b24 0%, #ff8b24 35%, #ffab21 100%);
    left: 0;
    right: 0;
    height: 10px;
    z-index: 99999999;
}

body:before {
     top: 0;
}

body:after {
     bottom: 0;
}

body > div {
     background-color: #fff;
}

.header {
     background-color: #fff;
    padding: 35px 0 20px 0;
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 50;
    width: calc(100% - 20px);
    margin-top: -10px;

}
.header-wrapper {
     display: flex;
     align-items: center;
}

.wrapper {
    padding: 130px 0 70px 0;
    position: relative;
     z-index: 5;
     overflow: hidden;
}

.page-content {
    display: flex;
    align-items: flex-start;
}

.tab-content {
     flex-grow: 1;
}

.aside-btn {
    width: 30px;
    height: 30px;
    color: #FFA622;
    cursor: pointer;
    transition: color .4s linear;
}
.aside-btn:hover {
    color: #FF6724;
}
.aside-container {
    flex: 0 0 280px;
    margin-left: 0;
    transition: margin 0.5s, opacity .5s;
    opacity: 0;
    overflow: hidden;
}
.aside {
    background-color: #fff;
    transition: transform 0.5s, margin 0.5s;
    width: 180px;
    font-weight: 400;
    font-size: 17px;
    color: #000;
    position: fixed;
    top: 130px;
    left: 30px;
    transform: translateX(-100%);
}

.aside-container.open {
    margin-right: 30px;
    opacity: 1;
    overflow: visible;
}
.aside-container.open .aside {
    margin-left: 0;
    transform: translateX(0);
}

.aside__item:not(:last-child) {
    margin-bottom: 10px;
}
.aside__nav-btn {
    padding-bottom: 15px;
    position: relative;
    transition: color .4s;
    font-size: 16px;
}

.aside__nav-btn::after {
    content: '';
    background-color: #ff8b00;
    display: block;
    width: 0px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s linear;
}
.aside__nav-btn._spoller-active::after {
    width: 100%;
}
.aside__nav-btn:hover {
    color: #ff8b00;
}
.aside__submenu {
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 15px;
}
.aside__submenu li {
    transition: color .4s;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.aside__submenu li:not(:last-child) {
    margin-bottom: 20px;
}
.aside__submenu li:hover span {
    color: #ff8b00;
}

.aside__submenu li h4 {
    font-weight: 700;
    margin: 0;
     font-size: 16px;

}

.aside__submenu li button {
    display: flex;
    align-items: center;
}

.aside__submenu li span {
    transition: color .4s;
}

.aside__submenu li i {
    transition: opacity .5s;
    font-size: 25px;
    color: #ff8b00;
    opacity: 0;
    line-height: 20px;
    margin-left: 5px;
}
.aside__submenu li:hover i {
    opacity: 1;
}

.aside-buttons {
    margin-top: 20px;
}

.button-load {
    min-height: 50px;
    position: relative;
}

.button-load a {
    background: #FFA622 0% 0% no-repeat padding-box;
    border-radius: 50px;
    max-width: 295px;
    min-width: 230px;
    height: 50px;
    width: 100%;
    padding: 0 25px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .4s, width .4s;
    position: absolute;
    top: 0;
    left: 0;
}
.button-load a:hover {
    background-color: #FF6724;
    width: calc(100% + 20px);
}

.buttons-cohort-financial .button-load:first-child {
     margin-bottom: 10px;
}

.well {
     background-color: #FF8B00;
     border-radius: 0;
     padding: 40px 30px;
}

.well h4 {
     font-family: Segoe UI, sans-serif;
     font-weight: 400;
     font-size: 26px;
     line-height: 35px;
     color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
     font-family: Segoe UI, sans-serif;
     font-weight: bold;
     font-size: 17px;
     color: #fff;
     margin-bottom: 10px;
}

.bootstrap-select > .dropdown-toggle {
     background-color: #fff;
     border: 0;;
     border-radius: 0;
}
.bootstrap-select > .dropdown-toggle:focus {
     background-color: #fff;
     outline: none !important;
}
.open > .dropdown-toggle.btn-default {
     background-color: #fff;
     border: 0;
     border-radius: 0;
}
.open > .dropdown-toggle.btn-default:focus {
     background-color: #fff;
}
.filter-option-inner-inner {
     font-family: Segoe UI, sans-serif;
     font-weight: 400;
     font-size: 14px;
     color: #000;
}
.dropdown-menu {
     box-shadow: 0px 3px 6px #00000029;
     border: 0px;
     border-radius: 0;
     margin-top: 0;
     padding: 6px 6px 20px 6px;
}
.dropdown-menu > li {
     transition: border-color .3s, color .3s;
     border: 1px solid transparent;
     border-radius: 13px;
     margin-bottom: 5px;
     overflow: hidden;
     
}
.dropdown-menu > li.selected {
     border-color: #FF8B24;
     color:  #FF8B24;
}
.dropdown-menu > li > a {
     border: 0;
     background-color: #fff
     font-family: Segoe UI, sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 19px;
     color: #000;
     padding: 3px 6px;
}
.dropdown-menu > li.selected a {
     color:  #FF8B24;
}
.dropdown-menu > .active > a {
     background-color: #fff;
     border-radius: 13px;
     color: #000;
}
.dropdown-menu > li > a:hover {
     background-color: #fff;
}
.dropdown-menu > .active > a:hover {
     background-color: #fff;
     color: #000;
}
.actions-btn.btn-default {
     border: 0;
     font-family: Segoe UI, sans-serif;
     font-weight: 700;
     font-size: 14px;
     color: #FF8B24;
     padding: 0;
     text-align: left;
}
.actions-btn.btn-default:hover {
     background-color: #fff;
}
.dropdown-item .glyphicon {
     display: none!important;
}

.irs--shiny {
     height: 60px;
}
.irs--shiny .irs-handle {
     border: 0;
     background-color: #fff;
     box-shadow: none;
     border-radius: 50%;
     top: 25px;
}
.irs--shiny .irs-bar {
     background-color: #fff;
     border: 0;
     height: 4px;
     top: 33px;
}
.irs--shiny .irs-line {
     background: white;
     border: 0;
     height: 2px;
     top: 35px;
}

.irs--shiny .irs-min, 
.irs--shiny .irs-max {
     background: transparent;
     font-family: Segoe UI, sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 19px;
     color: #fff;
}
.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single {
     background-color: #fff;
     border-radius: 0;
     border: 0;
     height: 19px;
     padding: 0 6px;
     font-family: Segoe UI, sans-serif;
     font-weight: 700;
     font-size: 14px;
     line-height: 19px;
     text-align: center;
     color: #000;
}

.radio-group-buttons > div {
     max-width: 260px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.btn.radiobtn {
     background: no-repeat;
     border: 0;
     box-shadow: none;
     font-size: 17px;
     color: #fff;
     padding: 0;
     display: flex;
     align-items: center;
     column-gap: 10px;
}
.btn.radiobtn.focus,
.btn.radiobtn.active {
     background: none;
     color: #fff;
}
.radio-btn-icon-yes,
.radio-btn-icon-no {
     background-color: #fff;
     border-radius: 50%;
     width: 21px;
     height: 21px;
     padding: 3.6px;
}

.radio-btn-icon-yes::before,
.radio-btn-icon-no::before {
     content: '';
     background-color: transparent;
     border-radius: 50%;
     display: block;
     width: 14px;
     height: 14px;
}
.radio-btn-icon-yes::before {
     background-color: #000;
}

.radio-btn-icon-yes i,
.radio-btn-icon-no i{
     display: none;
}

@media (min-width: 1200px) {
     .container {
         width: 100%;
         padding-left: 35px;
         padding-right: 35px;
     }
}

.title_sidebar {
    margin-top: -11px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 26px/35px var(--unnamed-font-family-segoe-ui-variable-display);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 26px/35px Segoe UI Variable Display;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.btn-default.focus, .btn-default:focus { color: #333; background-color: #f39c12; border-color: #f39c12; }

        .owl-stage {
            transition: 1s !important;
        }

        .entry-header {
            text-align: left;
            margin: 0 auto 50px auto;
            width: 80%;
            max-width: 978px;
            position: relative;
            z-index: 10001;
        }

        #demo-content {
            padding-top: 100px;
        }

        #loader-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }

        #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fff;

            -webkit-animation: spin 2s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 2s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */

            z-index: 1001;
        }

        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fff;

            -webkit-animation: spin 3s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 3s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
        }

        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #fff;

            -webkit-animation: spin 1.5s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 1.5s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg);
                /* IE 9 */
                transform: rotate(0deg);
                /* Firefox 16+, IE 10+, Opera */
            }

            100% {
                -webkit-transform: rotate(360deg);
                /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg);
                /* IE 9 */
                transform: rotate(360deg);
                /* Firefox 16+, IE 10+, Opera */
            }
        }

        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg);
                /* IE 9 */
                transform: rotate(0deg);
                /* Firefox 16+, IE 10+, Opera */
            }

            100% {
                -webkit-transform: rotate(360deg);
                /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg);
                /* IE 9 */
                transform: rotate(360deg);
                /* Firefox 16+, IE 10+, Opera */
            }
        }

        #loader-wrapper .loader-section {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255, 139, 36, 1) 0%, rgba(255, 139, 36, 1) 35%, rgba(255, 171, 33, 1) 100%);
            z-index: 1000;
            -webkit-transform: translateY(0);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(0);
            /* IE 9 */
            transform: translateY(0);
            /* Firefox 16+, IE 10+, Opera */
        }

        #loader-wrapper .loader-section.section-left {
            left: 0;
        }

        /* Loaded */
        .loaded #loader-wrapper .loader-section.section-left {
            -webkit-transform: translateY(-100%);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);
            /* IE 9 */
            transform: translateY(-100%);
            /* Firefox 16+, IE 10+, Opera */

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }

        .loaded #loader {
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .loaded #loader-wrapper {
            visibility: hidden;

            -webkit-transform: translateY(-100%);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);
            /* IE 9 */
            transform: translateY(-100%);
            /* Firefox 16+, IE 10+, Opera */

            -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
        }

        /* JavaScript Turned Off */
        .no-js #loader-wrapper {
            display: none;
        }
